/*
██████  ███████      ██████  ██████  ██████  ███████
██   ██ ██          ██      ██    ██ ██   ██ ██
██   ██ ███████     ██      ██    ██ ██████  █████
██   ██      ██     ██      ██    ██ ██   ██ ██
██████  ███████      ██████  ██████  ██   ██ ███████
*/
@import '../../admin/assets/vendors/ds-core/css/style';

#ds-floated-menu-container {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;

	#dsfm-left-container,
	#dsfm-right-container {
		position: fixed;
		z-index: 999;
		top: 50%;
		@include ds-transform( translateY( -50% ) );
	}

	#dsfm-left-container {
		left: 0;
	}

	#dsfm-right-container {
		right: 0;
	}
}

@media( min-width: $ds-global-width-sm ) {

}

@media( min-width: $ds-global-width-md ) {

}

@media( min-width: $ds-global-width-lg ) {

}

@media( min-width: $ds-global-width-xl ) {

}

@media( min-width: $ds-global-width-xxl ) {

}
