/*
██████	███████			██████	██████	██████	███████
██	 ██ ██					██			██		██ ██	 ██ ██
██	 ██ ███████		 ██			██		██ ██████	█████
██	 ██			██		 ██			██		██ ██	 ██ ██
██████	███████			██████	██████	██	 ██ ███████
*/
@import '../../admin/assets/vendors/ds-core/css/style';

.dsfm-hamburger-icon {
	position: absolute;
	top: 50%;
	@include ds-transform( translateY( -50% ) );
	transition: all 0.4s;
	@include ds-dimensions( 30px, 30px );
	padding: 5px;
	cursor: pointer;
	background-color: $white;
	border-width: 0px;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-style: solid;
	border-color: $ds-grey;

	> span {
		transition: all 0.1s;
		display: block;
		border-top: 2px solid $ds-grey-dark;
		@include ds-dimensions( 100%, auto );
	}

	// Settings based.
	&.dsfm-animate {
		&:hover {
			> span {
				&:first-child {
					border-top-width: 6px;
					border-radius: 50% 50% 0 0;
				}

				&:last-child {
					border-top-width: 4px;
				}
			}
		}
	}
}

#dsfm-focus-panel {
	transition: all 0.2s;
	position: fixed;
	z-index: 998;
	top: 0;
	left: 0;
	display: block;
	background: $ds-grey-dark;
	@include ds-dimensions( 100%, 100% );
	opacity: 0;
	visibility: hidden;

	&.active {
		opacity: 0.5;
		visibility: visible;
	}
}

[id^="dsfm"][id$="container"] {
	box-sizing: border-box;

	* {
		box-sizing: inherit;
		font-family: inherit;
		text-decoration: none;
		-webkit-font-smoothing: subpixel-antialiased;

		*:focus {
			outline: none;
		}
	}
}

#dsfm-left-container,
#dsfm-right-container,
#dsfm-movable-container {
	position: fixed;
	z-index: 997;
	top: 50%;
	transition: all 0.4s;
	display: -webkit-box;
	display: -ms-flexbox;
	       display: flex;
	-webkit-flex-wrap: wrap;
	    -ms-flex-wrap: wrap;
	        flex-wrap: wrap;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: $white;
	border-width: 0px;
	border-style: solid;
	border-color: $ds-grey;
	@include ds-transform( translateY( -50% ) );
	@include ds-dimensions( 220px, auto );

	> [id^="dsfm"] {
		list-style: none;
		margin: 0;
		padding: 0;
		@include ds-dimensions( 100%, auto );
	}

	&.active {
		z-index: 999;

		// > .dsfm-hamburger-icon {
		// 	background-color: $ds-grey-dark;
		// 	border-color: $ds-grey-dark;
		//
		// 	> span {
		// 		border-color: $white;
		// 	}
		// }
	}

	> [id*="dsfm"] {
		margin: 0;
		list-style: none;

		// Immediate decendents.
		> .menu-item {
			&:first-child {
				border-top: 1px solid $ds-grey;
			}

			&:last-child {
				border-bottom: 1px solid $ds-grey;
			}

			&.current-menu-ancestor,
			&.current-menu-item,
			&:hover {
				> a {
					background-color: $ds-grey;
				}
			}

			> a {
				&[aria-expanded="true"] {
					background-color: $ds-grey;
				}
			}

			> .sub-menu {
				border-top: 1px solid $ds-grey;
				border-bottom: 1px solid $ds-grey;
			}
		}

		// All decendents.
		.menu-item {
			margin: 0;
			line-height: 1.5;

			a {
				transition: all 0.4s;
				position: relative;
				display: block;
				padding: 5px 15px;
				color: $ds-grey-dark;
				line-height: inherit;
				text-decoration: none;
			}

			&.menu-item-has-children {
				> a {
					padding: 5px 40px 5px 15px;

					> span {
						position: absolute;
						top: 0;
						right: 0;
						display: block;
						@include ds-dimensions( 100%, 100% );

						&:before,
						&:after {
							content: "";
							position: absolute;
							display: block;
							right: 15px;
							top: 15px;
							background: $ds-grey-dark;
							transition: all 0.4s;
							@include ds-dimensions( 2px, 8px );
							@include ds-transform( rotate( 45deg ) );
						}

						&:after {
							right: 20px;
							@include ds-transform( rotate( -45deg ) );
						}
					}

					&[aria-expanded="true"] {
						> span {
							&:before,
							&:after {
								@include ds-transform( rotate( -45deg ) );
							}

							&:after {
								@include ds-transform( rotate( 45deg ) );
							}
						}
					}
				}
			}

			.sub-menu {
				background-color: $ds-grey-light;
				display: none;
				list-style: none;
				margin: 0;
				padding: 0 0 0 10px;
			}
		}

		&.dsfm-submenu-links-clickable {
			.menu-item {
				&.menu-item-has-children {
					> a {
						> span {
							@include ds-dimensions( 40px, 100% );
						}
					}
				}
			}
		}
	}

	&.dsfm-height-100 {
		height: 100%;
		top: 0%;
		@include ds-transform( unset );

		> [id*="dsfm"] {
			// Immediate decendents.
			> .menu-item {
				&:first-child {
					border-top-width: 0;
				}

				&:last-child {
					border-bottom-width: 0;
				}
			}
		}
	}
}

#dsfm-left-container,
#dsfm-movable-container {
	left: -220px;

	> .dsfm-hamburger-icon {
		left: 100%;
		border-right-width: 1px;
	}

	&.active {
		left: 0;
		border-right-color: $ds-grey-dark;
	}
}

#dsfm-movable-container {
	> .dsfm-hamburger-icon {
		left: calc( 100% + 100px );
		transition: unset;
	}
}

#dsfm-right-container {
	right: -220px;

	> .dsfm-hamburger-icon {
		right: 100%;
		border-left-width: 1px;
	}

	&.active {
		right: 0;
		border-left-color: $ds-grey-dark;
	}
}

@media( min-width: $ds-global-width-sm ) {

}

@media( min-width: $ds-global-width-md ) {

}

@media( min-width: $ds-global-width-lg ) {

}

@media( min-width: $ds-global-width-xl ) {

}

@media( min-width: $ds-global-width-xxl ) {

}
